## Part 1: Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import numpy as np
from tensorflow.keras.models import Model
from tensorflow.keras import layers

#  Import and read the attrition data
attrition_df = pd.read_csv('https://static.bc-edx.com/ai/ail-v-1-0/m19/lms/datasets/attrition.csv')
attrition_df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,Sales,1,2,Life Sciences,2,94,3,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,Research & Development,8,1,Life Sciences,3,61,2,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,Research & Development,2,2,Other,4,92,2,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,Research & Development,3,4,Life Sciences,4,56,3,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,Research & Development,2,1,Medical,1,40,3,...,3,4,1,6,3,3,2,2,2,2

In [2]:
# Determine the number of unique values in each column.
attrition_df.nunique()

Age                         43
Attrition                    2
BusinessTravel               3
Department                   3
DistanceFromHome            29
Education                    5
EducationField               6
EnvironmentSatisfaction      4
HourlyRate                  71
JobInvolvement               4
JobLevel                     5
JobRole                      9
JobSatisfaction              4
MaritalStatus                3
NumCompaniesWorked          10
OverTime                     2
PercentSalaryHike           15
PerformanceRating            2
RelationshipSatisfaction     4
StockOptionLevel             4
TotalWorkingYears           40
TrainingTimesLastYear        7
WorkLifeBalance              4
YearsAtCompany              37
YearsInCurrentRole          19
YearsSinceLastPromotion     16
YearsWithCurrManager        18
dtype: int64

In [3]:
# Create y_df with the Attrition and Department columns
y_df = attrition_df[['Attrition','Department']]
y_df

     Attrition              Department
0          Yes                   Sales
1           No  Research & Development
2          Yes  Research & Development
3           No  Research & Development
4           No  Research & Development
...        ...                     ...
1465        No  Research & Development
1466        No  Research & Development
1467        No  Research & Development
1468        No                   Sales
1469        No  Research & Development

[1470 rows x 2 columns]

In [4]:
# Create a list of at least 10 column names to use as X data
x_list = ['Education','Age','DistanceFromHome','JobSatisfaction','OverTime','StockOptionLevel','WorkLifeBalance','YearsAtCompany','YearsSinceLastPromotion','NumCompaniesWorked']


# Create X_df using your selected columns
X_df = attrition_df[x_list]

# Show the data types for X_df
X_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Education                1470 non-null   int64
 1   Age                      1470 non-null   int64
 2   DistanceFromHome         1470 non-null   int64
 3   JobSatisfaction          1470 non-null   int64
 4   OverTime                 1470 non-null   object
 5   StockOptionLevel         1470 non-null   int64
 6   WorkLifeBalance          1470 non-null   int64
 7   YearsAtCompany           1470 non-null   int64
 8   YearsSinceLastPromotion  1470 non-null   int64
 9   NumCompaniesWorked       1470 non-null   int64
dtypes: int64(9), object(1)
memory usage: 115.0+ KB

In [5]:
# Split the data into training and testing sets
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X_df,y_df)
X_train,X_test

(      Education  Age  DistanceFromHome  JobSatisfaction OverTime  \
 356           4   42                 2                4       No
 1036          3   31                 2                4      Yes
 209           4   46                 1                1       No
 604           3   42                29                2       No
 394           2   31                 7                1       No
 ...         ...  ...               ...              ...      ...
 537           2   27                10                1       No
 1312          5   31                18                1       No
 10            3   35                16                2       No
 932           3   29                 7                3      Yes
 1162          3   35                10                1       No

       StockOptionLevel  WorkLifeBalance  YearsAtCompany  \
 356                  0                3               1
 1036                 1                1               2
 209                  1                3               4
 604                  1                2               9
 394                  1                1              13
 ...                ...              ...             ...
 537                  2                2               9
 1312                 0                3               1
 10                   1                3               5
 932                  2                3               7
 1162                 0                3              13

       YearsSinceLastPromotion  NumCompaniesWorked
 356                         0                   3
 1036                        2                   6
 209                         0                   7
 604                         7                   1
 394                         3                   1
 ...                       ...                 ...
 537                         1                   1
 1312                        0                   0
 10                          0                   0
 932                         7                   3
 1162                        6                   9

 [1102 rows x 10 columns],
       Education  Age  DistanceFromHome  JobSatisfaction OverTime  \
 31            4   44                10                4      Yes
 528           2   50                 8                3      Yes
 1170          3   27                 2                4       No
 976           3   56                23                2      Yes
 268           2   45                20                4      Yes
 ...         ...  ...               ...              ...      ...
 746           1   41                 7                3       No
 1292          3   39                20                4       No
 447           3   35                 1                3       No
 1279          2   44                 1                2      Yes
 1095          4   33                28                3      Yes

       StockOptionLevel  WorkLifeBalance  YearsAtCompany  \
 31                   0                4               4
 528                  1                3               4
 1170                 0                2               4
 976                  1                3              19
 268                  0                3              20
 ...                ...              ...             ...
 746                  2                3              21
 1292                 1                3               2
 447                  0                3              11
 1279                 3                2               5
 1095                 1                3              15

       YearsSinceLastPromotion  NumCompaniesWorked
 31                          1                   2
 528                         1                   3
 1170                        1                   2
 976                        15                   4
 268                         4                   0
 ...                       ...                 ...
 746                         5                   1
 1292                        2                   2
 447                         6                   9
 1279                        2                   1
 1095                        5                   1

 [368 rows x 10 columns])

In [6]:
# Convert your X data to numeric data types however you see fit
# Add new code cells as necessary
def binaryencoder(x):
    list = []
    for i in x:
        if i == 'Yes':
            n = 1
        elif i == 'No':
            n = 0
        list.append(n)
        
    return list
X_train['OverTime'] = binaryencoder(X_train['OverTime'])
X_test['OverTime'] = binaryencoder(X_test['OverTime'])
X_train['OverTime'].value_counts(),X_test['OverTime'].value_counts()

(0    789
 1    313
 Name: OverTime, dtype: int64,
 0    265
 1    103
 Name: OverTime, dtype: int64)

In [7]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1102 entries, 356 to 1162
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Education                1102 non-null   int64
 1   Age                      1102 non-null   int64
 2   DistanceFromHome         1102 non-null   int64
 3   JobSatisfaction          1102 non-null   int64
 4   OverTime                 1102 non-null   int64
 5   StockOptionLevel         1102 non-null   int64
 6   WorkLifeBalance          1102 non-null   int64
 7   YearsAtCompany           1102 non-null   int64
 8   YearsSinceLastPromotion  1102 non-null   int64
 9   NumCompaniesWorked       1102 non-null   int64
dtypes: int64(10)
memory usage: 94.7 KB

In [8]:
# Create a StandardScaler
scaler = StandardScaler()

# Fit the StandardScaler to the training data
X_scale = scaler.fit(X_train)

# Scale the training and testing data
X_train = X_scale.transform(X_train)
X_test = X_scale.transform(X_test)
X_train

array([[ 1.06006847e+00,  5.60387993e-01, -8.67770630e-01, ...,
        -9.95576726e-01, -6.80720725e-01,  1.28214648e-01],
       [ 8.24990522e-02, -6.42555739e-01, -8.67770630e-01, ...,
        -8.29972869e-01, -6.98459376e-02,  1.33241245e+00],
       [ 1.06006847e+00,  9.97822077e-01, -9.93119068e-01, ...,
        -4.98765155e-01, -6.80720725e-01,  1.73381171e+00],
       ...,
       [ 8.24990522e-02, -2.05121654e-01,  8.87107503e-01, ...,
        -3.33161298e-01, -6.80720725e-01, -1.07598315e+00],
       [ 8.24990522e-02, -8.61272781e-01, -2.41028439e-01, ...,
        -1.95358452e-03,  1.45734103e+00,  1.28214648e-01],
       [ 8.24990522e-02, -2.05121654e-01,  1.35016875e-01, ...,
         9.91669557e-01,  1.15190364e+00,  2.53661025e+00]])

In [ ]:
# Create a OneHotEncoder for the Department column
#onehot = OneHotEncoder()
def triencoder(x):
    list = []
    for i in x:
        if i == 'Research & Development':
            n = 2
            
        elif i == 'Sales':
            n = 1
            
        elif i == 'Human Resources':
            n = 0
            
        list.append(n)
    return list

# Fit the encoder to the training data
y_train['Department'] = triencoder(y_train['Department'])

# Create two new variables by applying the encoder
# to the training and testing data
y_test['Department'] = triencoder(y_test['Department'])
y_test['Department'].value_counts(),y_train['Department'].value_counts()

In [ ]:
# Create a OneHotEncoder for the Attrition column

# Fit the encoder to the training data
y_train['Attrition'] = binaryencoder(y_train['Attrition'])


# Create two new variables by applying the encoder
# to the training and testing data
y_test['Attrition'] = binaryencoder(y_test['Attrition'])
y_train['Attrition'].value_counts(),y_test['Attrition'].value_counts()

## Create, Compile, and Train the Model

In [ ]:
# Find the number of columns in the X training data
input_columns = len(X_df.columns)

# Create the input layer
input_layer = layers.Input(shape=(input_columns,),name='input_features')

# Create at least two shared layers
shared_layer1 = layers.Dense(2, activation='relu')(input_layer)
shared_layer2 = layers.Dense(2, activation='relu')(shared_layer1)

In [ ]:
# Create a branch for Department
# with a hidden layer and an output layer
# Create the hidden layer
hidden_1 = layers.Dense(3,activation='relu')(shared_layer2)

# Create the output layer
department_branch = layers.Dense(2,activation='softmax',name='department_output')(hidden_1)

In [ ]:
# Create a branch for Attrition
# with a hidden layer and an output layer
# Create the hidden layer
hidden_2 = layers.Dense(3,activation='relu')(shared_layer2)

# Create the output layer
attrition_branch = layers.Dense(2,activation='sigmoid',name='attrition_output')(hidden_2)

In [ ]:
# Create the model
model = Model(inputs=input_layer,outputs=[department_branch,attrition_branch])

# Compile the model
model.compile(
    optimizer='adam',
    loss={'department_output':'categorical_crossentropy','attrition_output':'binary_crossentropy'},
    metrics={'department_output':'accuracy','attrition_output':'accuracy'}        
              )

# Summarize the model
model.summary()

In [ ]:
# Train the model
model.fit(X_train,{'department_output':y_train,'attrition_output':y_train},
          epochs=5,
          )

In [ ]:
# Evaluate the model with the testing data
r = model.evaluate(X_test, {
    'department_output': y_test,
    'attrition_output': y_test
})
r

In [ ]:
# Print the accuracy for both department and attrition
predictions = ['department','attrition']
for i,j in enumerate(predictions):
    print(f'{j} accuracy:{r[i+1]}')

# Summary

In the provided space below, briefly answer the following questions.

1. Is accuracy the best metric to use on this data? Why or why not?

2. What activation functions did you choose for your output layers, and why?

3. Can you name a few ways that this model might be improved?

YOUR ANSWERS HERE

1. 
2. 
3.